.idea/go-study.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml


# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# go
# /test/test.go

# dir
/bin
.idea/
../.idea/
vendor/

# test
!tests/test/*.go
tests/
test*

# pkg
!pkg/WalterWj/*
pkg/*

# src
!src/github.com/WalterWj/*
src/*

# file
test.txt
tests/test/test.code-workspace
