.idea/go-study.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml


# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# go
/test/test.go

# dir
/bin
.idea/
../.idea/
/test

# file
test.txt